In [3]:
import pandas as pd

# Nation's report card

Standardized test scores by state, student subgroup, released every couple of years by NAEP

In [117]:
def get_sheet(subject, student_subgroup, grade):
    
    if subject.lower().strip() == "math":
        fname = "data/2017_Results_Appendix_Math_State.xlsx"
    elif subject.lower().strip() == "reading":
        fname = "data/2017_Results_Appendix_Reading_State.xlsx"
    else:
        raise Exception("Invalid subject '" + subject + "'")
    
    if grade not in [4, 8]:
        raise Exception("Invalid grade: " + str(grade))
    
    if student_subgroup == "frpl":
        sheetnames = ["SchoolLunch_G" + str(grade)]
    elif student_subgroup == "race":
        sheetnames = [
            "RaceEthnicity_G" + str(grade),
            "RaceEthnicity_G" + str(grade) + "(cont.)"
        ]
        
    frame = None

    for sheetname in sheetnames:
        new_frame = pd.read_excel(
            fname, 
            sheetname=sheetname,
            skiprows=7,
        )
        
        if frame is None:
            frame = new_frame
        else:
            frame = frame.join(new_frame, rsuffix="_r")
            
    # All I want is average scores. I can drop the columns where the header is empty

    categories = []
    for c in frame.columns:
        if c.startswith("Unnamed:"): continue
        categories.append(c)
        
    if subject == "math":
        keepers = ["Unnamed: 0"] + categories
    else:
        keepers = categories
            
    ret = frame[keepers]
    
    ret = ret.drop([0,1]).dropna(
        subset=categories,
        how="all"
    )
    
    
    for c in keepers[1:]:
        ret[c] = pd.to_numeric(ret[c],errors="coerce")
    
    keepers[0] = "state"
    ret.columns = keepers
    
    return ret

get_sheet("math","race",8)
#get_sheet("reading","race",8)

,state,White,Black,Hispanic,Asian/Pacific Islander,American Indian/Alaska Native
2,Nation,292.646075,260.386363,269.019034,309.528848,267.443650
3,Nation (public),292.164707,259.603785,268.492951,309.522764,268.243961
4,Alabama,277.349254,251.557411,256.714228,NaN,NaN
5,Alaska,290.611768,254.766202,273.491624,274.274972,253.103372
6,Arizona,296.380355,272.277282,269.162319,315.509916,262.835386
7,Arkansas,281.753802,248.437398,267.023497,NaN,NaN
8,California,293.012829,254.551715,262.252816,310.701355,NaN
9,Colorado,297.892016,262.546577,268.103510,301.127490,NaN
10,Connecticut,295.013248,257.734413,263.004020,310.546726,NaN
11,Delaware,288.721761,262.519312,267.331944,314.421787,NaN
12,Florida,290.622169,262.100423,273.135079,302.585666,NaN
13,Georgia,293.275865,264.025955,274.673928,319.559305,NaN
14,Hawaii,286.353271,NaN,269.081642,276.279295,NaN
15,Idaho,289.358353,NaN,264.725239,NaN,NaN
16,Illinois,291.381612,256.713032,271.617983,313.399735,NaN
17,Indiana,291.545549,270.286506,275.699999,NaN,NaN
18,Iowa,289.568400,255.222761,273.484605,308.207835,NaN
19,Kansas,293.182254,259.311777,269.066168,303.664220,NaN
20,Kentucky,281.881844,252.186623,269.330650,303.683767,NaN
21,Louisiana,278.956084,252.241579,262.559941,NaN,NaN
22,Maine,284.405839,NaN,NaN,NaN,NaN
23,Maryland,295.449872,261.558881,267.153057,314.762681,NaN
24,Massachusetts,303.258972,270.671713,274.308931,322.891465,NaN
25,Michigan,285.676253,250.150042,264.209607,312.459130,NaN
26,Minnesota,301.914767,259.027808,268.863339,297.437358,NaN
27,Mississippi,284.648316,257.271744,270.811376,NaN,NaN
28,Missouri,286.225806,255.948002,272.493603,NaN,NaN
29,Montana,290.456269,NaN,272.284896,NaN,258.168033
30,Nebraska,296.543160,259.724525,270.474896,292.599553,NaN
31,Nevada,289.041847,252.691018,266.345327,295.745583,NaN
32,New Hampshire,294.867686,NaN,268.219815,303.773697,NaN
33,New Jersey,302.522591,268.446086,272.720657,325.187784,NaN
34,New Mexico,286.997762,NaN,264.019568,NaN,257.121104
35,New York,291.568168,260.499927,265.466068,308.674892,NaN
36,North Carolina,295.085909,258.402980,271.864327,309.461317,NaN
37,North Dakota,294.036289,251.942018,270.073484,NaN,261.887722
38,Ohio,295.384579,254.172791,278.621558,NaN,NaN
39,Oklahoma,281.838654,256.910222,262.951072,288.390782,269.450558
40,Oregon,288.333887,NaN,265.702961,299.111318,NaN
41,Pennsylvania,293.733860,260.540553,261.902619,311.164678,NaN
42,Rhode Island,286.687144,260.773844,256.864181,NaN,NaN
43,South Carolina,288.073345,253.099801,271.756865,NaN,NaN
44,South Dakota,293.374422,257.729428,268.504144,NaN,253.763957
45,Tennessee,285.615531,258.061204,269.015492,NaN,NaN
46,Texas,297.482648,265.814635,273.534678,321.524180,NaN
47,Utah,293.865276,NaN,262.820341,275.573248,NaN
48,Vermont,288.016063,NaN,NaN,NaN,NaN
49,Virginia,296.717276,270.827070,279.985678,316.174819,NaN
50,Washington,295.259392,258.549862,270.530558,307.678851,NaN
51,West Virginia,274.474473,253.543102,NaN,NaN,NaN
52,Wisconsin,295.768008,253.031620,267.124417,286.297175,NaN
53,Wyoming,292.060654,NaN,275.248668,NaN,267.711106
55,District of Columbia,322.692221,256.985767,263.442165,NaN,NaN
56,DoDEA1,298.140351,276.928415,286.711614,303.258972,NaN

In [118]:
def lower_cols(df):
    ret = df.copy()
    cols = ret.columns
    lower_cols = []
    for c in cols:
        lower_cols.append(c.lower().strip())
    ret.columns = lower_cols
    
    
    return ret

In [119]:
lower_cols(get_sheet("math","race",8)).head()

,state,white,black,hispanic,asian/pacific islander,american indian/alaska native
2,Nation,292.646075,260.386363,269.019034,309.528848,267.443650
3,Nation (public),292.164707,259.603785,268.492951,309.522764,268.243961
4,Alabama,277.349254,251.557411,256.714228,NaN,NaN
5,Alaska,290.611768,254.766202,273.491624,274.274972,253.103372
6,Arizona,296.380355,272.277282,269.162319,315.509916,262.835386

In [120]:
# Make CSV files for each category

def make_csv(subject, subgroup, grade):
    
    df = get_sheet(subject, subgroup, grade)
    
    # Add

In [121]:
def state(statestr):
    
    try:
        return us.states.lookup(unicode(statestr))
    except:
        return

print state("Connecticut").ap_abbr
print state("Connecticut").abbr
help(state("Connecticut"))

Conn.
CT
Help on State in module us.states object:

class State(__builtin__.object)
 |  Methods defined here:
 |
 |  __init__(self, **kwargs)
 |
 |  __repr__(self)
 |
 |  __str__(self)
 |
 |  shapefile_urls(self, region=None)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [122]:
import us
def add_states(df,state_col="state"):
    
    # Add state abbreviation columns
    ap_abbrs = []
    postals = []
    
    for i, row in df.iterrows():
        
        st = state(row[state_col])
        ap = None
        p = None
        if st is not None:
            ap = st.ap_abbr
            p = st.abbr
            
        if row[state_col] in ["Nation"]:
            ap = "U.S."
            p = "US"
            
        ap_abbrs.append(ap)
        postals.append(p)
    
    ret = df.copy()
    ret["postal"] = postals
    ret["ap_abbr"] = ap_abbrs
    
    return ret
    
add_states(lower_cols(get_sheet("math","race",8)).head())

,state,white,black,hispanic,asian/pacific islander,american indian/alaska native,postal,ap_abbr
2,Nation,292.646075,260.386363,269.019034,309.528848,267.443650,US,U.S.
3,Nation (public),292.164707,259.603785,268.492951,309.522764,268.243961,None,None
4,Alabama,277.349254,251.557411,256.714228,NaN,NaN,AL,Ala.
5,Alaska,290.611768,254.766202,273.491624,274.274972,253.103372,AK,Alaska
6,Arizona,296.380355,272.277282,269.162319,315.509916,262.835386,AZ,Ariz.

In [125]:
import os

def make_csvs(year="2017"):
    for subject in ["math","reading"]:
        for subgroup in ["frpl","race"]:
            for grade in [4,8]:
                fname = "_".join([subgroup, subject, str(grade)]) + ".csv"
                print(fname)
                df = add_states(lower_cols(get_sheet(subject,subgroup,grade)))
                df = df[df["ap_abbr"].notnull()]
                fname = "_".join([subgroup, subject, str(grade)]) + ".csv"
                df.to_csv(os.path.join("viz","data",fname), index=False, encoding="utf-8")
make_csvs()

frpl_math_4.csv
frpl_math_8.csv
race_math_4.csv
race_math_8.csv
frpl_reading_4.csv
frpl_reading_8.csv
race_reading_4.csv
race_reading_8.csv